.userMenu {
	display: flex;
	align-items: center;
	gap: 15px;
}
.userMenuName {
	color: #6315c2;
}
.userMenuLogOut {
	font-size: 14px;
	font-weight: 600;
	color: rgb(163, 28, 248);
	cursor: pointer;
	padding: 6px;
	border-radius: 10px;
	border: 2px solid rgb(163, 28, 248);
	background-color: rgb(210, 197, 255);
	transition: color 0.3s;
	margin: 5px;
}
.userMenuLogOut:hover {
	background-color: rgb(163, 28, 248);
	color: white;
}
